.steps_flex {
    @include display_flex(row, space-between);
    max-width: 1440px;
    margin: 0 auto;
}

.step {
    @include box(300px, 400px);
    @include display_flex(column, end);
    color: $white-color;
    border-radius: 4px;
    padding: 0 25px 21px;
    margin: 0 0 0 20px;

    &__button {
        @include button (70px, $red-color);
        @include text_style(10px, normal, 16px, normal);
        text-transform: uppercase;
        margin: 0;
    }

    &__header {
        @include text_style(24px, bold, 26px, normal);
        margin: 18px 0 25px;
        word-spacing: 1px;
    }

    &__text {
        @include text_style(14px, normal, 14px, normal);
    }
}

.s1_photo {
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
        url('https://images2.imgbox.com/04/9e/UitRKZt0_o.png');
}

.s2_photo {
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
        url('https://images2.imgbox.com/64/b3/z07oh9uk_o.png');
}

.s3_photo {
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
        url('https://images2.imgbox.com/6a/55/qRMnn6W6_o.png');
}

.morbi_margin {
    margin: 28px 0 15px 3px;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
    .steps_flex {
        @include display_flex(row, space-evenly);
    }

    .step {
        width: 236px;
        padding: 0 20px 16px;
        background-position: left;

        &__button {
            letter-spacing: 1.5px;
        }

        &__header {
            line-height: 15px;
            margin: 43px 0 28px;
        }
    }

    .morbi_margin {
        margin: 13px 0 22px 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
   
    .steps_flex {
        @include display_flex(column, space-between);
    }

    .step {
        @include box(300px, 240px);
        padding: 0 30px 16px 20px;
        margin: 0 0 10px 0;

        &__button {
            width: 70px;
            letter-spacing: 1.5px;
        }

        &__header {
            @include text_style(24px, bold, 15px, normal);
            word-spacing: 0.5px;
            margin: 48px 0 22px;
        }
    }

    .morbi_margin {
        margin: 30px 0 22px 0;
        letter-spacing: normal;
    }

    .s1_photo {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
            url('https://images2.imgbox.com/bf/1a/flOfKX11_o.png');
    }

    .s2_photo {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
            url('https://images2.imgbox.com/84/05/NgWYYp05_o.png');
    }

    .s3_photo {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
            url('https://images2.imgbox.com/ea/84/1z4CToCZ_o.png');
    }
}